table {
    border-collapse:collapse;
}

table th, table td {
    border:1px solid black;       
    text-align:center;
}

table .num {    
    width:200px;
    text-align:center;
    
}
table .con {
    width:500px;
}

.list {
    margin-top:20px;
    width:80px;
    text-align:center;
    background-color:gainsboro;    
    border:1px solid black;
}

.list:hover {
    color:white;
}