body {
    text-align: center;    
}

h1 {
    text-align:center;
}

.cons {
    width:500px;
    text-align:center;
}

.con {
    width:800px;
    text-align: left;
}

.content {
    margin-top:10px;
    padding:0 10px;
    border : 1px solid black;
    width:inherit;    
}

table {
    border-collapse:collapse;
    margin:0 auto;
}

table th, table td {
    border:1px solid black;       
    text-align:center;
}

table .num {    
    width:200px;
    text-align:center;
    
}
table .con {
    width:500px;
}

table .title {
    width:100px;
}

table .title2, .title3 {
    width:400px;
}

.titles {
    margin:10px auto;
}

.list {
    margin:15px auto;
    width:80px;
    text-align:center;
    background-color:gainsboro;    
    border:1px solid black;
}

.list:hover {
    color:white;
}
 
.line {
    width:50px;
    height:50px;
    background-color: :red;
}